{% extends 'base.html'%}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div id="header-section">
            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img src="/static/images/1.jpg" alt="First slide" class="img-fluid"
                                height="450px">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive">The best thing about memories is making them.</h3>
                            <p>Share your journey</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img src="/static/images/2.jpg" alt="Second slide" class="img-fluid"
                                height="450px">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive">All about that cool vacation you had.</h3>
                            <p>Share your journey</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img src="/static/images/3.jpg" alt="Second slide" class="img-fluid" height="450px">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive">Cherished moments can't be forgotten.</h3>
                            <p>Share your journey</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img src="/static/images/4.jpeg" alt="Third slide" class="img-fluid"
                                height="450px">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive">Don't forget the cherished moments.</h3>
                            <p>Share your journey</p>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
    <div class="text-center" id="hoods">
        <h2 class="text-center">Welcome to mini Diary!</h2>
        <a href="{%url 'newHood'%}"><button class="btn btn-outline-success">Tell your story</button></a>
    </div>
    <div class="container-fluid row">
        <div id="find-your-hood">

            {% for hood in  hoods %}
            <div class="col-md-4 hood-section text-center">
                <div class="view overlay z-depth-5">
                    <img src="{{hood.hood_image.url}}" alt="Hood" class="img-fluid wow zoomInUp">
                    <a href="/accounts/register/">
                        <div class="mask flex-center rgba-green-light">
                            <p class="white-text">View story</p>
                        </div>
                    </a>
                </div>
                <p>{{hood.name}}</p>
                <a href="{%url 'hood-details' neighborhood_id=hood.id%}"><button class="btn btn-default">View
                        posts</button></a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}