{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row business-section">

        <div class="col-md-1"></div>
        <div class="col-md-10 ">
            {% for myhood in hood %}
            <h2 class="text-center">{{myhood.name}}</h2>
            <hr>
            <div class="col-md-6 hood-dets view overlay zoom text-center">
                <img src="{{myhood.hood_image.url}}" alt="Neighborhood" class="img-fluid z-depth-3">
                <div class="mask flex-center rgba-green-slight">
                    <p class="white-text">Cheers to a beautiful life.</p>
                </div>
                <h1>Probably the best book in existence!!</h1>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.”</p>
            </div>
            {% endfor %}
            <div><a href="{% url 'newBusiness'%}"><button class="btn btn-outline-success">Add to your stories</button></a>
            </div>
            <div class="business-desc text-center">
                {%for business in found%}
                <div>
                    <span class="text-highlight">
                        <h2>Diary Entries</h2>
                    </span>
                    <table class="table table-striped w-auto">
                       
                        <tbody>
                            <tr class="table-info">
                                <th scope="row">1</th>
                                <td>{{business.name}}</td>
                                <td>{{business.business_mail}}</td>
                                <td>{{business.description}}</td>
                                <td><cite>{{business.user.username}}</cite></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
{% endblock %}