<nav class="navbar sticky-top navbar-expand-lg">
    <div class="w-100 order-1 order-md-0 dual-collapse2">
    <i class="fa fa-heart" aria-hidden="true"></i>
 <a class="navbar-brand mr-auto" href="{%url 'home'%}" id="hoods-link">miniDiary</a> 
 
 
 <i class="fa fa-heart" aria-hidden="true"></i>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img
                    src="https://img.icons8.com/material/24/000000/circled-menu.png"></span>
        </button>
    </div>

    <div class="mx-auto order-0">
        <ul class="navbar-nav mx-auto" id="hood-icon">
            <a href="/">
                <p><img src="https://cdn4.iconfinder.com/data/icons/fliraneo/256/notebook_girl.png" alt="icon"
                        width="80"></p>
            </a>
            <a href="/" id="home">
                <!-- <p><strong>miniDiary</strong></p> -->
            </a>
        </ul>
    </div>
    <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <form class="form-inline" role="search" action="{%url 'search'%}" id="f-search">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" id="search-place" placeholder="Search Category"
                        aria-label="Search" name="name">
                </div>
            </form>
            {% if user.is_authenticated%}

            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/logout" id="out">Logout</a>
            </li>
            <li class="nav-item" id="p-icon">
                <a class="nav-link waves-effect waves-light" href="{% url 'userProfile' %}"><img
                        src="https://img.icons8.com/material-rounded/24/000000/user.png" width="30"></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class='btn btn-default' href="/accounts/login" id="in">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/accounts/register/" id="signup">Register</a>
            </li>
            {% endif %}

        </ul>
    </div>

</nav>