body{
  font-family: 'Rancho', cursive;
  /* font-family: 'Sawarabi Gothic', sans-serif; */
  font-size: 1.5em;
}

#hoods-link {
    color: palevioletred;
    font-style: italic;
}
.navbar{
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 1rem;
  background-color: palevioletred;
}
#in,#out,#signup,#home,#hoods-link{
  text-decoration: none;
  color: #2f4f4f; 
}
#in:hover,#out:hover,#signup:hover,#home:hover,#hoods-link:hover{
  text-decoration: underline;
  color: black; 
}
.auth,.new-add{
  margin-top: 3%;   
}
.formbg{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.auth-form{
  background-color:  palevioletred;
  color: white;
}
#hood-icon a{
  margin-left: 0px;
}
.btn-outline-success{
  border-radius: 50px;
}
.border{
  border-width: thick 0px 0px 0px;
}
.overlay{
  margin-bottom: 4%;
}
#hoods,.animated,.business-section,.search-page{
  margin-top: 3%;
}
.text-highlight{
  color: palevioletred;
}
.wow {
  visibility: hidden;
}
#find-your-hood{
  display: flex;
  flex-wrap: wrap;
  margin-right: 3%;
}
th,td{
  font-size: 1.3rem !important;
}
.search-title{
  margin-bottom: 3%;
  padding: 5%;
  border: 3px solid palevioletred;
}
.found{
  float: left;
  margin-right: 3%;
}
.result-details{
  background-color:  palevioletred;
  padding: 3%;
}
